@model int
<div class="text-center">
    <h1 class="text-info pt-4">Congratulations!! You are one stop closer to amazin food</h1>
    <p class="pb-3">We have received your ore</p>
    <h4 class="text-warning">Order Id - @Model.</h4>
    <img src="/images/order.png"  width="80%"/>
</div>